@font-face {
    font-family: CanvaSansMedium;
    src: url(assets/CanvaSans-Medium.woff2);
}

:root {
    --white00: rgba(255, 255, 255, 0);
    --white07: rgba(255, 255, 255, 0.07);
    --white20: rgba(255, 255, 255, 0.2);
    --white40: rgba(255, 255, 255, 0.4);
    --white50: rgba(255, 255, 255, 0.5);
    --white75: rgba(255, 255, 255, 0.75);
    --white90: rgba(255, 255, 255, 0.9);
    --white: #ffffff;
    --black07: rgba(14, 19, 24, 0.07);
    --black15: rgba(14, 19, 24, 0.15);
    --black20: rgba(14, 19, 24, 0.20);
    --black: #0e1318;


    --primary: #8B3DFF;
    --Primitive-Gradient-gradientCanvaBrandHorizontal: linear-gradient(90deg, #00C4CC 0%, #7D2AE8 100%);

    --startingWidth: 169.56px;
    --oneU: 8px;
    --twoU: 16px;
}

body {
    background: var(--Background-colorTabdock, #F6F7F8);
    display: grid;
    grid-template-rows: 58px auto auto;
    /* overflow: clip; */
}

button:hover {
    cursor: pointer;
}

menu {
    background: var(--Primitive-Gradient-gradientCanvaBrandHorizontal);
    /* height: 56px; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
    gap: var(--oneU);
}

button,
input {
    font-size: 14px;
    font-family: 'CanvaSansMedium';

    display: flex;
    align-items: center;
    gap: var(--oneU);
    padding: var(--oneU);
    border-radius: var(--oneU);
    border: none;

    transition: all 0.1s linear;

}

button#target {

    width: var(--startingWidth);
    transition: width 200ms ease-in-out;
    text-wrap: nowrap;
    animation-duration: 500ms;
    overflow: clip;
}

button#target img {
    animation-duration: 500ms; 
}

@keyframes colorAnimation {
    0% {
        color: var(--white40);
    }
    75% {
        color: var(--white40);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 50%;
    }
    75% {
        opacity: 50%;
    }
}


button.full {

    padding-right: var(--twoU);
}

button.primary {
    background-color: var(--white90);
    color: var(--black);
}

button.primary:hover {
    background-color: var(--white);
}

button.secondary {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white20);
}

button.secondary:hover {
    background-color: var(--white07);
}

input {
    background-color: transparent;
    border: none;
    color: var(--white);
    width: fit-content;
    text-align: right;
    border: 0.2px solid transparent;
}

/* body {
    display: grid;
    grid-template-rows: auto auto auto;
} */

article {
    background-color: white;
    width: 50vw;
    min-height: 75vh;
    box-shadow: 0px 0px 0px 1px var(--Shadow-shadowBorder, rgba(64, 87, 109, 0.04)), 0px 6px 20px -4px var(--Shadow-shadowSurface, rgba(64, 87, 109, 0.30));
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-family: 'CanvaSansMedium';
}

footer {
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-rows: auto 32px;
    gap: 8px;
    padding: 8px;
    /* justify-content: space-between; */
    height: 140px;
}

section#view-settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    justify-self: flex-end;
    align-self: flex-end;
}


section#switches {

    /* position: fixed; */
    /* top: 100px; */
    /* right: 100px; */
    /* width: 400px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: white; */
    gap: 8px;
    /* flex-grow: 1; */
    height: 100%;
    flex-grow: 1;
}

section#switches div {
    font-size: 14px;
    font-family: 'CanvaSansMedium';
    border: 1px solid var(--black15);
    color: var(--black);

    padding: 8px;
    background-color: var(--black07);
    /* flex-grow: 1; */
    /* height: auto; */
    display: flex;
    align-items: center;
    height: 56px;

    border-radius: var(--oneU);
    width: 96px;

    box-shadow: 0px 0px 0px 1px var(--Shadow-shadowBorder, rgba(64, 87, 109, 0.04)), 0px 6px 20px -4px var(--Shadow-shadowSurface, rgba(64, 87, 109, 0.30));

}

section#switches div.selected {
    border: 2px solid var(--primary);
    padding-left: 7px;
    padding-right: 7px;
}

section#switches div:hover {
    background-color: var(--black15);
}

section#switches div:active {
    background-color: var(--black20);
}

button.tertiary {
    height: 32px;
    width: 32px;
    padding: 4px;
    background-color: transparent;
}

button.tertiary:hover {
    background-color: var(--black07);
}
/* input:hover {
    border: 0.2px solid var(--borderColorButton);
} */

main {
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    height: calc(100vh - 6px - 58px - 184px - 16px);
    overflow-y: scroll;
    padding: 24px;
}